.flashcard-controls {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 100;
  pointer-events: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.card-counter {
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 15px;
  border-radius: 20px;
}

.button-container {
  gap: 20px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.know-btn,
.dont-know-btn,
.next-btn {
  padding: 12px 30px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dont-know-btn{
  width: 100%;
}

.know-btn {
  background-color: #51cf66;
  color: white;
}

.dont-know-btn {
  background-color: #ff6b6b;
  color: white;
}

.next-btn {
  background-color: #339af0;
  color: white;
  width: 100%;
  font-size: 18px;
}

.know-btn:hover,
.dont-know-btn:hover,
.next-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.know-btn:active,
.dont-know-btn:active,
.next-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
